body {
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  color: red;
}

#content {
  position: relative;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tic-tac-toe {
  width: 300px;
  height: 300px;
  border-collapse: collapse;
}

.tic-tac-toe td {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.tic-tac-toe tr:first-child td {
  border-top: none;
}

.tic-tac-toe tr:last-child td {
  border-bottom: none;
}

.tic-tac-toe td:first-child {
  border-left: none;
}

.tic-tac-toe td:last-child {
  border-right: none;
}

td:hover{
background-color: rgba(172, 255, 47, 0.26);
cursor: pointer;
}

.winning-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.winning-line-stroke {
  stroke: red; /* Farbe der Linie */
  stroke-width: 10px; /* Dicke der Linie */
  stroke-linecap: round; /* Abgerundete Enden */
  stroke-dasharray: 100%; /* Optional: Animation */
  stroke-dashoffset: 100%;
  animation: drawLine 0.5s linear forwards; /* Animierte Linie */
}

@keyframes drawLine {
  from {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0;
  }
}
